* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

/* Header */
header {
    text-align: center;
    padding: 50px;
    background: #111;
    border-bottom: 2px solid red;
}

header h1 {
    font-size: 3rem;
    color: red;
}

header p {
    color: #ccc;
}

/* Projects */
.projects {
    padding: 40px;
    text-align: center;
}

.projects h2 {
    color: red;
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    width: 250px;
    border: 1px solid red;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px red;
}

.card h3 {
    color: red;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: black;
    background: red;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background: #ff1a1a;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 2px solid red;
}